@charset "UTF-8";
*{
  margin:0;
  padding:0;
  border:0;
  line-height: 1;

}
ul {
  list-style: none;
}
li{}
body{
  height:100%;
  /* overflow:hidden; */
}
a{
  text-decoration: none;
  color:#fff;
}
img{
  width:100%;
}
.wrapper{
  width:650px;
  margin: 0 auto;
  padding-top:20px;
  text-align:center;

}
/* 스코어 */
.scoreT{
  text-align: center;
  font-size:36px;
  margin-bottom: 2rem;
}
.score{}
.Hscore{
  padding-top:20px;
}
/* 게임판 */
.playground{
  float:left;
  margin: 0 auto;
  width:250px;
  position: relative;
}
/* 보드판 */
.playground > ul{
  width:300px;
  margin:0 auto;
}
.playground > ul>li{
  width:100%;
  height:25px;
}
.playground>ul>li>ul{
  display: flex;
}
.playground>ul>li>ul>li{
  width:25px;
  height:25px;
  outline:1px solid #ccc;
}
.nextT{
  padding-bottom: 20px;
}
.next{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.next ul>li{
  width:100%;
  height:25px;
}
.next>li>ul{
  display: flex;
}
.next>li>ul>li{
  width:25px;
  height:25px;
  outline:1px solid #ccc;
}
.game-text{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position:absolute;
  width:100%;
  height:100%;
  background:rgba(0, 0, 0, 0.5);
  left:0;
  top:0;
  color:#fff;
  font-size:50px;
}
/* 게임시작 */
.gameStart{
  width:200px;
  position:absolute;
  top:40%;
  left:10%;
}
.gameStart>img{
  width:100%;
}
/* 게임오버 */
.gameOver{
  width:200px;
  position:absolute;
  top:40%;
  left:10%;
  display:none;
}
.gameOver>img{
  width:100%;
}
.Replay{
  display:none;
}
.Replay>a{
  width:100%;
  display: inline-block;
}
/* 게임방법 css */
.howToGame{
  font-size: 20px;
  font-weight:bold;
  padding-bottom:20px;
}
.Text{}
.how{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
}
.how>ul{
  width:100%;
}
.how>ol>li{
    padding-bottom: 20px;
}

/* 버튼 css */
.btn{
  width:300px;
  padding: 0.5rem;
  margin: 30px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn>ul{
  text-align:center;
}
.btn>ul>li{
  display: inline-block;
}
button{
  width:100px;
  margin-top: 175px;
  padding:5px 0;
  color:#fff;
  background:salmon;
  border:none;
  cursor: pointer;
  text-align: center;
}
button.clearScore{
  width:120px;
  margin-top: 1rem;
}
.pause{
  width:150px;
  display: none;
}
.square{
  background:#e02670;
}
.tree{
  background:#7026e0;
}
.bar{
  background:#2670e0;
}
.lZee{
  background:#26e038;
}
.rZee{
  background:#d9e026;
}
.elLeft{
  background:#e09036;
}
.elRight{
  background:#26e0c8;
}
/* 방향키 */
.keyboard{
    margin-top:280px;
    padding-bottom:20px;
}
.arrow{
  width:62.5px;
  cursor: pointer;
  padding:5px;
  display: table-cell;
}
.upArrow{
  transform:rotate(90deg);
}
.downArrow{
  transform:rotate(270deg);
}
.rightArrow{
  transform:rotate(180deg);
}
.spaceBar{
  width:200px;
  padding:5px;
  cursor: pointer;
  vertical-align: middle;
}
.spaceBar>p{
  display:table-cell;
}
